.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 0 var(--px);
}

.filters {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-shadow: 1px 10px 16px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 10px 16px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 10px 16px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 320px;
}

.filterButton {
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  width: 220px;

  height: 50px;
  padding: 8px 24px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--open-sans-font);
  font-size: 12px;
  border-radius: 8px;
}

.activeFilterButton {
  color: var(--primary);
}

.filterButton:hover {
  color: var(--primary);
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .articles {
    justify-content: flex-start;
  }
}
