:root {
  --primary: #d8ad3d;
  --secondary: #009cd9;
  --danger: #b72c2c;
  --dark-gray: #3f454a;
  --dark-gray-900: #24272a;

  --px: 9vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

button:focus {
  outline: 1px solid black;
}