.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialButtonsContainer {
  display: flex;
  gap: 30px;
}

.logo {
  font-family: var(--caveat-font);
  font-weight: 600;
  font-size: 100px;
  color: var(--dark-gray);
  text-align: center;
}

.heroImageContainer {
  position: absolute;
  z-index: -2;
  width: 100%;
}

.heroImageBlur {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  height: 100px;
  top: -100px;
}

.heroImage {
  width: 200vw;
  height: auto;
}

.heroTitleContainer {
  margin-top: 30%;
}

.heroTitle {
  font-family: var(--caveat-font);
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  color: var(--dark-gray);
  text-align: center;
  margin-top: 48px;

  position: absolute;
  z-index: 1;

  width: 100%;
}

.heroBrushPaintImage {
  transform: translate(-600px, 80px);
}

.text {
  font-size: 100px;
}

@media (min-width: 768px) {
  .heroImage {
    transform: translate(-15%);
    width: 150%;
  }

  .heroTitle {
    text-align: left;
    font-size: 120px;
    line-height: 100px;
    padding-left: var(--px);
    max-width: calc(500px + var(--px));
  }

  .heroBrushPaintImage {
    transform: translate(-580px, 138px);
  }

  .heroTitleContainer {
    margin-top: 10%;
  }

  .logoContainer {
    flex-direction: row;
    padding-left: var(--px);
    padding-right: 3vw;
    padding-top: 30px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .heroImage {
    transform: translate(0%);
    width: 100%;
  }
}

.sectionTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.contactUs .sectionTitleContainer {
  margin-top: 200px;
}

.sectionTitle {
  font-family: var(--caveat-font);
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  color: var(--dark-gray);
  text-align: center;
  transform: translate(0, -130px);
}

.sectionTitleBrushPaintImage {
  width: 464px;
  height: auto;
  opacity: 0.2;
}
