.socialButton {
  display: flex;
  width: 62px;
  height: 62px;
  border: 3px solid black;
  border-radius: 99px;
  align-items: center;
  justify-content: center;
}

.primaryColorScheme {
  border-color: var(--primary);
  color: var(--primary);
}

.secondaryColorScheme {
  border-color: var(--secondary);
  color: var(--secondary);
}

.dangerColorScheme {
  border-color: var(--danger);
  color: var(--danger);
}